DISCORD_TOKEN=
DISCORD_GUILD_ID=
SPECIAL_USER_ID=285021062578700289
SPECIAL_ROLE_ID=1254166294656188426
ALWAYS_REPLY_USER_ID=256876746861707264
DEFAULT_REPLY_CHANCE_PERCENT=4
NERD_EMOJI=🤓
WEB_DASHBOARD_ENABLED=false
WEB_DASHBOARD_HOST=127.0.0.1
WEB_DASHBOARD_PORT=8787
WEB_DASHBOARD_TOKEN=
DATA_DIR=./data
DB_FILENAME=bot.sqlite
